html{
  background-color: white;
  text-align: center;
  color: black;

}
h1{
  color: white;
  font-size: 60px

}
.title{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

}
p .title{
  color: white;


}
h3{
  font-size: 30px;
}
#border{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
#bottom{
  background-color: grey;
  text-align: left;
  font-size: 20px;
  

}
